<!DOCTYPE html>
<html>

<head>
    <title>Unnamed Ticket App</title>
</head>

<body>

<style>
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class="navbar">
<!---->
    <div class="">
        <nav class="">
            <div class="">
                <div id="" class="">
                    <div class="">
                        <a href="{{ url_for('index') }}" class="">
                            Home
                        </a>
                        <a href="{{ url_for('browse') }}" class=""> 
                            Browse
                        </a>
                        {% if current_user.is_authenticated and current_user.role == "user" %}
                        <a href="{{ url_for('users.profile') }}" class=""> 
                            Profile
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.role == "admin" %}
                        <a href="{{ url_for('admin.admin') }}" class=""> 
                            Admin Dashboard
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.role == "venue" %}
                        <a href="{{ url_for('venue.venue') }}" class=""> 
                            Venue Dashboard
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('users.register') }}" class=""> 
                            Register
                        </a>
                        <a href="{{ url_for('users.login') }}" class=""> 
                            Login
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('users.logout') }}" class=""> 
                            Logout
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="">
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>
</body>

</html>
