{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <h1 class="m-2">Browse Tickets</h1>
    <div class="border mb-2"></div>

    {% if not current_user.is_authenticated %}
      <div class="text-bg-danger rounded">
        <p class="fw-medium">
          <a href="{{ url_for('users.login') }}">Login</a> required for ticket purchase.
        </p>
      </div>
      <div class="border mt-2 mb-2"></div>
    {% endif %}
    <div class="row">
      <form method="POST" action="/browse/sort_by_date" class="col">
        <div>
          <button class="btn btn-primary">Sort by Date</button>
        </div>
      </form>
      <form method="POST" action="/browse/sort_by_name" class="col">
        <div>
          <button class="btn btn-primary">Sort by Artist Name</button>
        </div>
      </form>
      <form method="POST" action="/browse/sort_by_location" class="col">
        <div>
          <button class="btn btn-primary">Sort by Location</button>
        </div>
      </form>
      <form method="POST" action="/browse/sort_by_price" class="col">
        <div>
          <button class="btn btn-primary">Sort by Ticket Price</button>
        </div>
      </form>
      <form method="POST" action="/browse/search" class="col">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for Artist" name="search_bar" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div class="border mt-2 mb-2"></div>

    <div>
      <table class="table table-striped center table-hover text-start">
        <tr class="fw-medium table-active">
          <th class="border">Date</th>
          <th class="border">Artist Name</th>
          <th class="border">Venue</th>
          <th class="border">Location</th>
          <th class="border">Price</th>
          {% if current_user.is_authenticated %}
            <th class="border">Buy</th>
          {% endif %}
        </tr>
        {% for concert in concerts %}
          <tr>
            <td class="border fw-medium">{{ concert.date }}</td>
            <td class="border">{{ concert.artistName }}</td>
            <td class="border">{{ concert.venueName }}</td>
            <td class="border">{{ concert.venueLocation }}</td>
            <td class="border">£{{ concert.ticketPrice }}0</td>
            {% if current_user.is_authenticated %}
              <td class="border text-center">
                <form method="POST" action="/add_to_cart">
                  <button name="purchase_button" class="btn btn-success" style="text-decoration: underline;" value="{{ concert.id }}">{{ concert.availableTickets }} left</button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
