{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <h1 class="m-2">Browse Tickets</h1>
    <div class="border mb-2"></div>

    {% if not current_user.is_authenticated %}
      <div class="text-bg-danger rounded">
        <p class="fw-medium">
          <a href="{{ url_for('users.login') }}">Login</a> required for ticket purchase.
        </p>
      </div>
      <div class="border mt-2 mb-2"></div>
    {% endif %}
    <div class="row">
      <form method="POST" action="/browse" class="row">
        <div class="col">
          <button class="btn btn-primary" name="sort_button" type="submit" value="date">Sort by Date</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" name="sort_button" type="submit" value="artistName">Sort by Artist Name</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" name="sort_button" type="submit" value="location">Sort by Location</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" name="sort_button" type="submit" value="price">Sort by Ticket Price</button>
        </div>
        <div class="input-group col">
          <input class="form-control" type="text" placeholder="Search for Artist" name="search_bar" />
          <button class="btn btn-primary" name="sort_button" type="submit" value="search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="border mt-2 mb-2"></div>

    <div>
      <table class="table table-striped center table-hover text-start table-bordered">
        <tr class="fw-medium table-active">
          <th>Date</th>
          <th>Artist Name</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Price</th>
          {% if current_user.is_authenticated %}
            <th>Buy</th>
          {% endif %}
        </tr>
        {% for concert in concerts %}
          <tr>
            <td class="fw-medium">{{ concert.date }}</td>
            <td>{{ concert.artistName }}</td>
            <td>{{ concert.venueName }}</td>
            <td>{{ concert.venueLocation }}</td>
            <td>£{{ concert.ticketPrice }}0</td>
            {% if current_user.is_authenticated %}
              <td class="text-center">
                <form method="POST" action="/add_to_cart">
                  <button name="purchase_button" class="btn btn-success" style="text-decoration: underline;" value="{{ concert.id }}">{{ concert.availableTickets }} left</button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
