{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="height: 10px;"></div>
    <h1 class="text-center">Your Cart</h1>
    <div class="border"></div>
    <div style="height: 25px;"></div>
    {% if cart %}
    <table class="table table-striped table-hover">
        <tr>
            <th class="border">Item No.</th>
            <th class="border">Artist Name</th>
            <th class="border">Venue</th>
            <th class="border">Date</th>
            <th class="border">Price</th>
            <th class="border">Remove from Cart</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td class="border">{{ cart.index(item) + 1 }}</td>
            <td class="border">{{ item.get_concert().artistName }}</td>
            <td class="border">{{ item.get_concert().venueName }}, {{ item.get_concert().venueLocation }}</td>
            <td class="border">{{ item.get_concert().date }}</td>
            <td class="border">£{{ item.get_concert().ticketPrice }}0</td>
            <td class="border">
                <form method="POST" action="/remove_from_cart">
                    <button name="remove_from_cart_button" class="btn btn-danger" value="{{ item.id }}">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 class="text-center">Your Cart is empty.</h3>
    <div style="height: 10px;"></div>
    {% endif %}
    <div style="height: 10px;"></div>
    <div class="border"></div>
    <div style="height: 10px;"></div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="window.location.href=`{{ url_for('shop.browse') }}`;">Buy {% if cart %}more {% endif %}Tickets</button>
        {% if cart %}
        <button type="button" class="btn btn-primary">Purchase Cart</button>
        {% endif %}
    </div>
</div>

{% endblock %}
