{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if cart %}
      <h1 class="text-center m-2">Your Cart</h1>
      <div class="border mb-2"></div>
      <table class="table table-striped table-hover">
        <tr class="fw-medium text-start table-active">
          <th class="border">Item No.</th>
          <th class="border">Artist Name</th>
          <th class="border">Venue</th>
          <th class="border">Date</th>
          <th class="border">Price</th>
          <th class="border">Buy Another?</th>
          <th class="border">Remove from Cart</th>
        </tr>
        {% for item in cart %}
          <tr>
            <td class="border">{{ cart.index(item) + 1 }}</td>
            <td class="border">{{ item.get_concert().artistName }}</td>
            <td class="border">{{ item.get_concert().venueName }}, {{ item.get_concert().venueLocation }}</td>
            <td class="border">{{ item.get_concert().date }}</td>
            <td class="border">£{{ item.get_concert().ticketPrice }}0</td>
            <td class="border text-center">
              {% if item.get_concert().availableTickets > 0 %}
                <form method="POST" action="/buy_additional_ticket">
                  <button name="buy_additional_ticket_button" class="btn btn-success" value="{{ item.id }}">+1</button>
                </form>
              {% else %}
                <button name="buy_additional_ticket_button" class="btn btn-success" value="{{ item.id }}" disabled>Sold Out</button>
              {% endif %}
            </td>
            <td class="border text-center">
              <form method="POST" action="/remove_from_cart">
                <button name="remove_from_cart_button" class="btn btn-danger" value="{{ item.id }}">X</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h1 class="text-center mt-2 mb-2">Your Cart is empty.</h1>
    {% endif %}
    <div class="border mb-3"></div>
    <div class="text-center row">
      <div class="col"></div>
      <button type="button" class="btn btn-primary col-3" onclick="window.location.href=`{{ url_for('shop.browse') }}`;">Buy{% if cart %}more {% endif %}Tickets</button>
      {% if cart %}
        <div class="col"></div>
        <button type="button" class="btn btn-success col-3" onclick="window.location.href=`{{ url_for('shop.purchase') }}`;">Purchase Cart</button>
        <div class="col"></div>
        <button type="button" class="btn btn-danger col-3" onclick="window.location.href=`{{ url_for('shop.empty_cart') }}`;">Empty Cart</button>
      {% endif %}
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
