{% extends 'base.html' %}

{% block content %}
  <div class="container mb-5">
    {% if cart %}
      <h1 class="text-center m-2">Your Cart</h1>
      <div class="border mb-2"></div>
      <table class="table table-striped table-hover table-bordered">
        <tr class="fw-medium text-start table-active">
          <th>Item No.</th>
          <th>Artist Name</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Price</th>
          <th></th>
          <th>Remove</th>
        </tr>
        {% for item in cart %}
          <tr>
            <td>{{ cart.index(item) + 1 }}</td>
            <td>{{ item.get_concert().artistName }}</td>
            <td>{{ item.get_concert().venueName }}, {{ item.get_concert().venueLocation }}</td>
            <td>
              {{ item.get_concert().date.strftime('%d %B %Y') }} <br />{{ item.get_concert().date.strftime('%H:%M') }}
            </td>
            <td>£{{ item.get_concert().ticketPrice }}0</td>
            <td class="text-center">
              {% if item.get_concert().availableTickets > 0 %}
                <form method="POST" action="/buy_additional_ticket">
                  <button name="buy_additional_ticket_button" class="btn btn-success" value="{{ item.id }}">+1</button>
                </form>
              {% else %}
                <button name="buy_additional_ticket_button" class="btn btn-success" value="{{ item.id }}" disabled>Sold Out</button>
              {% endif %}
            </td>
            <td class="text-center">
              <form method="POST" action="/remove_from_cart">
                <button name="remove_from_cart_button" class="btn btn-danger" value="{{ item.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg mb-1" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                  </svg>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h1 class="text-center mt-2 mb-2">Your Cart is empty.</h1>
    {% endif %}
    <div class="border mb-3"></div>
    <div class="text-center row">
      <div class="col"></div>
      <button type="button" class="btn btn-primary col-3" onclick="window.location.href=`{{ url_for('shop.browse') }}`;">Buy {% if cart %}More {% endif %}Tickets</button>
      {% if cart %}
        <div class="col"></div>
        <button type="button" class="btn btn-danger col-3" onclick="window.location.href=`{{ url_for('shop.empty_cart') }}`;">Empty Cart</button>
        <div class="col"></div>
        <button type="button" class="btn btn-success col-3" onclick="window.location.href=`{{ url_for('shop.purchase', name='purchase') }}`;">Purchase Cart</button>
      {% endif %}
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
