{% extends 'base.html' %}

{% block content %}
  <div class="position-absolute top-50 start-50 translate-middle container text-center">
    <h1>Concert Finder</h1>
    <h4>Browse and purchase concerts from all your favourite artists!</h4>
    {% if not current_user.is_authenticated %}
      <div class="p-1">
        <button type="button" class="btn btn-primary" onclick="window.location.href=`{{ url_for('users.register') }}`;">Register</button>
        <button type="button" class="btn btn-primary ms-2" onclick="window.location.href=`{{ url_for('users.login') }}`;">Login</button>
      </div>
    {% endif %}
  </div>
{% endblock %}
