{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <h1 class="m-2">Purchase Cart</h1>
    <div class="border mb-2"></div>
    <div class="row">
      <div class="col-4 border-end">
        <h3 class="mb-2">Enter Purchasing Details</h3>
        {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            <div class="border mb-3"></div>
            {% for category, message in messages %}
              <div class="{{ category }} w-50 mx-auto">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="border mb-2"></div>
        <div class="text-bg-warning rounded mb-2">
          <a>Don't enter real card details this is just a demonstration.</a>
        </div>
        <div class="border mb-2"></div>
        <form method="POST" action="{{ url_for('shop.purchase', name="receipt")}}" class="text-start">
          {{ form.csrf_token() }}
          <div class="mb-2 input-group">
            <span class="input-group-text">First Name</span>
            {{ form.firstname(value = user.firstname, class = 'form-control', required = 'required', type = 'text') }}
          </div>
          <div class="text-bg-danger rounded text-center mb-2">
            {% for error in form.firstname.errors %}
              <p class="p-1">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <div class="mb-2 input-group">
            <span class="input-group-text">Last Name</span>
            {{ form.lastname(value = user.lastname, class = 'form-control', required = 'required', type = 'text') }}
          </div>
          <div class="text-bg-danger rounded text-center mb-2">
            {% for error in form.lastname.errors %}
              <p class="p-1">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <div class="mb-2 input-group">
            <span class="input-group-text">Email</span>
            {{ form.email(value = user.email, class = 'form-control', required = 'required', type = 'email') }}
          </div>
          <div class="text-bg-danger rounded text-center mb-2">
            {% for error in form.email.errors %}
              <p class="p-1">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <div class="mb-2 input-group">
            <span class="input-group-text">Card Number</span>
            {{ form.cardnumber(class = 'form-control', required = 'required', type = 'text', pattern = '[0-9]{16}', title = '16 digit card number.') }}
          </div>
          <div class="text-bg-danger rounded text-center mb-2">
            {% for error in form.cardnumber.errors %}
              <p class="p-1">{{ error|escape }}</p>
            {% endfor %}
          </div>
          <div class="mb-2 input-group">
            <span class="input-group-text">Card Expiry Date</span>
            {{ form.expirydate(class = 'form-control', required = 'required', type = 'month') }}
            {% for error in form.expirydate.errors %}
              {{ error|escape }}
            {% endfor %}
          </div>
          <div class="mb-2 input-group">
            <span class="input-group-text">CVV Number</span>
            {{ form.cvv(class = 'form-control', required = 'required', type = 'text', pattern = '[0-9]{3}', title = '3 digit CVV number.') }}
            {% for error in form.cvv.errors %}
              {{ error|escape }}
            {% endfor %}
          </div>
          <div class="text-center">{{ form.submit(type = 'submit', class = 'btn btn-primary center') }}</div>
        </form>
      </div>
      <!-- Cart -->
      <div class="col">
        <table class="table table-striped table-hover text-start table-bordered">
          <tr class="table-active fw-medium">
            <th>Item No.</th>
            <th>Artist Name</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
          {% for item in cart %}
            <tr>
              <td>{{ cart.index(item) + 1 }}</td>
              <td>{{ item.get_concert().artistName }}</td>
              <td>{{ item.get_concert().venueName }}, {{ item.get_concert().venueLocation }}</td>
              <td>{{ item.get_concert().date }}</td>
              <td>£{{ item.get_concert().ticketPrice }}0</td>
            </tr>
          {% endfor %}
          <tr class="border table-active">
            <td colspan="4" class="text-end">Total Price:</td>
            <td>£{{ totalPrice }}0</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
