{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <h1 class="mt-2">Venue Dashboard</h1>
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        <div class="border mb-3"></div>
        {% for category, message in messages %}
          <div class="{{ category }} w-50 mx-auto">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="border mb-2"></div>
    <div class="row">
      <div class="col-4 text-center border-end">
        <h3>Manager Information</h3>
        <table class="table table-striped table-hover table-bordered">
          <tr>
            <th class="text-end">ID</th>
            <td class="text-start">{{ current_user.id }}</td>
          </tr>
          <tr>
            <th class="text-end">Name</th>
            <td class="text-start">{{ current_user.firstname + ' ' + current_user.lastname }}</td>
          </tr>
          <tr>
            <th class="text-end">Email</th>
            <td class="text-start">{{ current_user.email }}</td>
          </tr>
        </table>
        {% if venue %}
          <div class="border mt-2 mb-2"></div>
          <div>
            <h3>Create New Concert</h3>
            <form method="POST" action="/venue/create_concert">
              {{ createConcertForm.csrf_token() }}
              <div class="mb-2 text-start input-group">
                <span class="input-group-text">Artist Name</span>
                {{ createConcertForm.artistName(class = 'form-control', required = 'required', type = 'text') }}
              </div>
              <div class="text-center mb-2">
                {% for error in createConcertForm.artistName.errors %}
                  <p class="alert alert-danger p-1">{{ error|escape }}</p>
                {% endfor %}
              </div>
              <div class="mb-2 text-start input-group">
                <span class="input-group-text">Date and Time</span>
                {{ createConcertForm.date(class = 'form-control', required = 'required', type = 'datetime-local') }}
              </div>
              <div class="text-center mb-2">
                {% for error in createConcertForm.date.errors %}
                  <p class="alert alert-danger p-1">{{ error|escape }}</p>
                {% endfor %}
              </div>
              <div class="mb-2 text-start input-group">
                <span class="input-group-text">Capacity</span>
                {{ createConcertForm.capacity(class = 'form-control', required = 'required', type = 'number', value = venue.capacity, min = '0', max = venue.capacity) }}
              </div>
              <div class="text-center mb-2">
                {% for error in createConcertForm.capacity.errors %}
                  <p class="alert alert-danger p-1">{{ error|escape }}</p>
                {% endfor %}
              </div>
              <div class="mb-2 text-start input-group">
                <span class="input-group-text">Ticket Price</span>
                <span class="input-group-text">£</span>
                {{ createConcertForm.ticketPrice(class = 'form-control', required = 'required', type = 'number', min = '0') }}
              </div>
              <div class="text-center mb-2">
                {% for error in createConcertForm.ticketPrice.errors %}
                  <p class="alert alert-danger p-1">{{ error|escape }}</p>
                {% endfor %}
              </div>
              <div class="mb-2">{{ createConcertForm.submit(type = 'submit', class = 'btn btn-primary center') }}</div>
            </form>
          </div>
        {% endif %}
      </div>

      <div class="col text-center">
        {% if venue %}
          <h3>Venue Information</h3>
          <table class="table table-striped table-hover table-bordered">
            <tr>
              <th class="text-end">ID</th>
              <td class="text-start">{{ venue.id }}</td>
            </tr>
            <tr>
              <th class="text-end">Name</th>
              <td class="text-start">{{ venue.name }}</td>
            </tr>
            <tr>
              <th class="text-end">Location</th>
              <td class="text-start">{{ venue.location }}</td>
            </tr>
            <tr>
              <th class="text-end">Capacity</th>
              <td class="text-start">{{ venue.capacity }}</td>
            </tr>
            <tr>
              <th>Concerts</th>
              {% if concerts %}
                <td>
                  <table class="table table-striped table-hover text-start table-bordered table-sm">
                    <tr class="fw-medium table-active">
                      <td>ID</td>
                      <td>Artist</td>
                      <td>Date</td>
                      <td>Ticket Price</td>
                      <td>Available Tickets</td>
                      <td>Delete</td>
                    </tr>
                    {% for concert in concerts %}
                      <tr>
                        <td class="fw-medium">{{ concert.id }}</td>
                        <td>{{ concert.artistId }} - {{ concert.artistName }}</td>
                        <td>{{ concert.date.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td>£{{ concert.ticketPrice }}0</td>
                        <td>{{ concert.availableTickets }}</td>
                        <td class="text-center">
                          <form method="POST" action="/venue/delete_concert">
                            <button name="delete_concert_button" class="btn btn-danger" value="{{ concert.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg mb-1" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                              </svg>
                            </button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </td>
              {% else %}
                <td class="text-start">There are no concerts at this venue</td>
              {% endif %}
            </tr>
          </table>
        {% else %}
          <div class="alert alert-danger pb-2 container justify-content-center">
            <h3>There is no venue linked to your account.</h3>
            <div class="border border-light m-2"></div>
            <h4>Create New Venue</h4>
            <div>
              <form method="POST" action="/venue/create_venue" class="w-50 mx-auto">
                {{ createVenueForm.csrf_token() }}
                <div class="text-start input-group">
                  <span class="input-group-text">Name</span>
                  {{ createVenueForm.name(class = 'form-control', required = 'required', type = 'text') }}
                </div>
                <div class="text-center mb-2">
                  {% for error in createVenueForm.name.errors %}
                    <p class="alert alert-danger p-1">{{ error|escape }}</p>
                  {% endfor %}
                </div>
                <div class="mt-2 text-start input-group">
                  <span class="input-group-text">Location</span>
                  {{ createVenueForm.location(class = 'form-control', required = 'required', type = 'text') }}
                </div>
                <div class="text-center mb-2">
                  {% for error in createVenueForm.location.errors %}
                    <p class="alert alert-danger p-1">{{ error|escape }}</p>
                  {% endfor %}
                </div>
                <div class="mt-2 text-start input-group">
                  <span class="input-group-text">Capacity</span>
                  {{ createVenueForm.capacity(class = 'form-control', required = 'required', type = 'number') }}
                </div>
                <div class="text-center mb-2">
                  {% for error in createVenueForm.capacity.errors %}
                    <p class="alert alert-danger p-1">{{ error|escape }}</p>
                  {% endfor %}
                </div>
                <div class="mt-2">{{ createVenueForm.submit(type = 'submit', class = 'btn btn-primary center') }}</div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
